@font-face {
  font-family: GothamBoldItalic;
  src: url("./Font/GothamBoldItalic.ttf");
}
* {
  /* max-width: 900px; */
  margin-left: auto;
  margin-right: auto;
}
body {
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: GothamBoldItalic;
}
body {
  width: 1070px;
  height: 708px;
}
.title {
  font-size: 48px;
  text-align: center;
}

.fristContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.secondContainer {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
img {
  object-fit: cover;
}
/* card 1 position  */
#cardOne {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.card1Title {
  width: 520.45px;
  height: 145px;
  backdrop-filter: opacity(10%);
  filter: invert(1);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fff);

  position: absolute;

  top: 202px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.cardTitle1 {
  text-align: center;
}
#card1Des {
  display: none;
  position: absolute;
  width: 100%;
  height: 87%;

  background-color: rgba(17, 74, 141, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.7s ease-in-out;
}
#cardOne:hover #card1Des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
#card1Des.fade-in {
  opacity: 1;
}
/* card 2 position */
#cardTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.card2Title {
  width: 520.45px;
  height: 145px;
  backdrop-filter: opacity(10%);
  filter: invert(1);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fff);

  position: absolute;

  top: 202px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.cardTitle2 {
  text-align: center;
}
#card2Des {
  display: none;
  position: absolute;
  width: 100%;
  height: 87%;

  background-color: rgba(17, 74, 141, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.7s ease-in-out;
}
#cardTwo:hover #card2Des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
#card2Des.fade-in {
  opacity: 1;
}
/* card 3 position  */
#cardThree {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.card3Title {
  width: 520.45px;
  height: 145px;
  backdrop-filter: opacity(10%);
  filter: invert(1);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fff);

  position: absolute;

  top: 202px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.cardTitle3 {
  text-align: center;
}
#card3Des {
  display: none;
  position: absolute;
  width: 100%;
  height: 87%;

  background-color: rgba(17, 74, 141, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.7s ease-in-out;
}
#cardThree:hover #card3Des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
#card3Des.fade-in {
  opacity: 1;
}
/* card 4 position  */
#cardFour {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.card4Title {
  width: 520.45px;
  height: 145px;
  backdrop-filter: opacity(10%);
  filter: invert(1);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fff);

  position: absolute;

  top: 202px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.cardTitle4 {
  text-align: center;
}
#card4Des {
  display: none;
  position: absolute;
  width: 100%;
  height: 87%;

  background-color: rgba(17, 74, 141, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.7s ease-in-out;
}
#cardFour:hover #card4Des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}



#card4Des.fade-in {
  opacity: 1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
  #CardContainer {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .fristContainer {
    display: flex;
    flex-direction: column;
  }
  .secondContainer {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 992px) {
  #CardContainer {
    padding: 20px;
  }
  .title {
    font-size: 32px;
  }
  .fristContainer {
    display: flex;
  }
  .secondContainer {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  #CardContainer {
    padding: 20px;
  }
  .title {
    font-size: 48px;
  }
  .fristContainer {
    display: flex;
  }
  .secondContainer {
    display: flex;
  }
}
