* {
  /* max-width: 900px; */
  margin-left: auto;
  margin-right: auto;
}
body {
  padding-top: 20px;
  padding-bottom: 30px;
}
#CardContainer {
  width: 1070px;
  height: 808px;
}
.title {
  font-size: 48px;
  text-align: center;
}

.fristContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.secondContainer {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
img {
  object-fit: cover;
}
/* card 1 position  */
#cardOne {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cardTitle1 {
  position: absolute;

  top: 185px;
  text-align: center;
  backdrop-filter: opacity(10%);
  filter: invert(1);
  background: linear-gradient(to bottom, rgba(3, 3, 3, 0), #fff);

  width: 520.45px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* card 2 position */
#cardTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cardTitle2 {
  position: absolute;

  top: 185px;
  text-align: center;

  backdrop-filter: opacity(10%);
  filter: invert(1);
  background: linear-gradient(to bottom, rgba(3, 3, 3, 0), #fff);

  width: 520.45px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* card 3 position  */
#cardThree {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cardTitle3 {
  position: absolute;

  top: 185px;
  text-align: center;
  backdrop-filter: opacity(10%);
  filter: invert(1);
  background: linear-gradient(to bottom, rgba(3, 3, 3, 0), #fff);

  width: 520.45px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* card 4 position  */
#cardFour {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card4Title{ 
 
}
.cardTitle4 {
  

  width: 520.45px;
  height: 145px;
  backdrop-filter: opacity(10%);
  filter: invert(1);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),  #fff);
  
  position: absolute;
  top: 185px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
